.token-select-dropdown {
  .token-select-dropdown-mask {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .token-select-dropdown {
    position: absolute;
    top: 116px;
    z-index: 10;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  }
  .token-select-dropdown-form-item {
    top: 56px;
  }
  .token-select-dropdown-show {
    display: block;
  }
  .token-select-dropdown-hidden {
    display: none;
  }
}
