@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/font.scss';

.common-tip-title {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.common-tip-title-icon {
  path {
    fill: $secondary-text;
  }
}

.common-tip-title-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: $font-family-medium-weight;
  color: $secondary-text;
}
