@import '/src/assets/theme/color.scss';
@import 'src/assets/theme/font.scss';

.trigger-container {
  padding: 0 8px;
  cursor: pointer;
}

.trigger-text {
  font-size: 14px;
  line-height: 22px;
  color: $secondary-text;
}

.children-icon {
  margin-left: 4px;
}
