@import 'src/assets/theme/breakpoint.scss';
@import 'src/assets/theme/color.scss';

.wallet-container {
  min-width: 190px;
  justify-content: flex-start;

  @include media-mobile {
    justify-content: flex-end;
  }
}

.address {
  color: $normal;
  margin: 0 4px 0 0;
  cursor: pointer;
  word-break: break-all;

  &:hover {
    text-decoration: underline;
  }
}
