@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/styles/common.scss';

.textarea-wrapper {
  gap: 16px;
  @extend .form-item-wrapper;
  textarea {
    min-height: 24px;
    padding: 0;
    @extend .form-item-value;
  }
}
