@import 'src/assets/theme/breakpoint.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/font.scss';

.token-amount {
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media-mobile {
    gap: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .token-amount-value {
    font-size: 14px;
    @extend .font-family-medium;
  }

  .token-amount-symbol {
    font-size: 14px;
    white-space: pre;
    @extend .font-family-medium;
  }

  .token-amount-usd {
    color: $secondary-text;
    font-size: 12px;
    line-height: 20px;
  }
}
