@import '/src/assets/theme/color.scss';
@import 'src/assets/theme/font.scss';

.main-content {
  height: 40px;
  padding: 0 20px;
  border: 1px solid $border;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border-color: $hover;
  }
}

.wallet-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.wallet-text {
  font-size: 14px;
  line-height: 22px;
  color: $primary-text;
  @extend .font-family-medium;
}

.dropdown {
  width: 320px;
  padding-top: 12px;
  background-color: $page-bg;
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.button-wrapper {
  padding: 12px 24px;
}

.web-user-profile {
  padding-top: 8px !important;
  :global {
    .ant-popover-content {
      .ant-popover-arrow {
        display: none !important;
      }
      .ant-popover-inner {
        width: 320px;
        background-color: $page-bg;
        border-radius: 6px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
        .ant-popover-inner-content {
          padding: 12px 0 0 !important;
        }
      }
    }
  }
}
