@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';

.main-container {
  flex: 2;
}

.main-wrapper {
  padding: 0 11%;

  @include media-web-2xl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
  }
}

.main-content {
  min-width: 440px;

  @include media-web-2xl {
    max-width: 614px;
    min-width: 440px;
  }
}

.faq-wrapper {
  flex: 1;
}

.faq {
  padding-top: 48px;
  padding-left: 8%;
  @include media-huge-screen {
    padding-right: 40px;
  }
}
