@import 'src/assets/theme/color.scss';

.web-records-table-wrapper {
  :global {
    .ant-table-thead {
      height: 48px;
      .ant-table-cell {
        color: $secondary-text;
        background-color: $page-bg;
      }
    }
    .ant-table-thead > tr > th::before {
      display: none;
    }
  }
}

.order-type {
  min-width: 72px;
}
