@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';

.main-container {
  flex: 2;
}

.main-wrapper {
  padding: 0 11.12%;
}

.main-content {
  min-width: 440px;
}

.faq-wrapper {
  flex: 1;
}

.faq-left {
  flex: 1;
}

.faq {
  padding-left: 8%;
  @include media-huge-screen {
    padding-right: 40px;
  }
}

.deposit-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  @extend .font-family-medium;
}

.deposit-address-wrapper {
  gap: 24px;
  height: 168px;
  padding: 24px;
  border: 1px solid $dividers;
  border-radius: 6px;
}

.network-select {
  height: 98px;
}

.qr-code-placeholder {
  width: 120px;
  height: 120px;
}
