@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/variable.scss';

.main-section {
  @include media-mobile-and-pad {
    padding-top: 16px;
  }

  @include media-mobile {
    height: 100%;
  }
}

.section {
  @include media-pad {
    width: $content-width;
    margin: auto;
  }
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid $dividers;
}

.faq {
  padding-bottom: 56px;
}
