@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/variable.scss';

.header-container {
  align-items: center;
  height: 80px;
  padding: 24px 40px 16px;
  @include media-huge-screen {
    position: relative;
    padding-left: calc((100vw - $max-width) / 2 + 40px);
    padding-right: calc((100vw - $max-width) / 2 + 40px);
  }
}

.right-wrapper {
  display: flex;
  align-items: center;
}

.assets-wrapper {
  font-size: 16px;
  font-weight: $font-family-medium-weight;
  height: 24px;
  line-height: 24px;
  margin-right: 48px;
  cursor: pointer;
}

.wide-header {
  border-bottom: 1px solid $dividers;
}
