@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/font.scss';
@import '/src/assets/theme/breakpoint.scss';
@import '/src/styles/common.scss';

.select-network {
  position: relative;
  .select-network-result {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid $dividers;
    cursor: pointer;

    @include media-mobile-and-pad {
      padding: 16px 12px;
    }

    &.select-network-result-form-item {
      @extend .form-item-wrapper;
      .select-network-value-row .select-network-value .select-network-value-placeholder {
        color: #d4d4d4;
      }
    }

    &.select-network-result-no-border {
      border: none;
    }

    .select-network-label {
      color: $secondary-text;
      font-size: 14px;
      line-height: 22px;
      @extend .font-family-regular;
    }
    .select-network-value-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .select-network-value {
        .select-network-value-selected {
          .primary {
            color: $primary-text;
            font-size: 16px;
            line-height: 1.5;
            @extend .font-family-medium;
            margin-right: 8px;
          }
          .secondary {
            color: $secondary-text;
            font-size: 14px;
            line-height: 22px;
            @extend .font-family-regular;
          }
        }
        .select-network-value-placeholder {
          color: $disable-text;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      .select-network-swap-icon-wrapper {
        @include media-web {
          width: 32px;
          height: 32px;
          border-radius: 4px;
          &:hover {
            background-color: #e5ecff;
            .select-network-swap-icon {
              path {
                fill: #285eff;
              }
            }
          }
        }
      }
      .select-network-swap-icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
      .select-network-down-icon-rotate {
        transform: rotate(180deg);
      }
    }
  }
}
