@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/common.scss';

.label,
.value {
  font-size: 14px;
  line-height: 22px;
}

.label {
  @extend .font-family-regular;
  color: $secondary-text;
}

.value {
  @extend .font-family-medium;
  color: $primary-text;
}

.receive-amount-wrapper {
  gap: 4px;
  margin: 32px 0 24px;
  @include media-mobile-and-pad {
    margin-top: 40px;
  }
  .value {
    font-size: 24px;
    line-height: 32px;
  }
}

.detail-wrapper {
  gap: 16px;
  margin-top: 24px;
  .label {
    flex: none;
    width: 140px;
  }
  .value {
    flex: 1;
    text-align: right;
    word-break: break-all;
  }
}

.detail-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.divider {
  @extend .divider;
}
