@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/assets/theme/font.scss';

.common-steps.common-steps-weight {
  :global {
    .ant-steps-item {
      .ant-steps-item-content {
        min-width: 72px;

        .ant-steps-item-title {
          font-weight: $font-family-medium-weight;
          font-family: $font-family-medium-family;

          font-size: 12px;
          height: 20px;
          line-height: 20px;
        }
        .ant-steps-item-description {
          color: $secondary-text;

          font-size: 12px;
          line-height: 20px;
        }
      }

      &:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover {
        .ant-steps-item-icon {
          border-color: $brand;
          .ant-steps-icon {
            color: $brand;
          }
        }
        .ant-steps-item-title {
          color: $brand;
        }
      }

      &.ant-steps-item-process {
        .ant-steps-item-icon {
          border: none;
          border-radius: 50%;
          background-color: $brand;
          .ant-steps-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-text;
            path {
              stroke: $white-text;
            }
          }
        }
        .ant-steps-item-tail {
          &::after {
            background-color: $border;
          }
        }
      }

      &.ant-steps-item-wait {
        .ant-steps-item-icon {
          border-color: $secondary-text;
          .ant-steps-icon {
            color: $secondary-text;
          }
        }
        .ant-steps-item-tail {
          &::after {
            background-color: $border;
          }
        }
      }

      &.ant-steps-item-finish {
        .ant-steps-item-icon {
          border-color: $brand;
          .ant-steps-finish-icon {
            color: $brand;
          }
        }
        .ant-steps-item-tail {
          &::after {
            background-color: $brand;
          }
        }
      }

      &.ant-steps-item-error {
        .ant-steps-item-title {
          color: $primary-text;
        }
      }

      &:has(+ .ant-steps-item-error) {
        .ant-steps-item-tail {
          &::after {
            background-color: $error;
          }
        }
      }

      &:has(+ .ant-steps-item-finish),
      &:has(+ .ant-steps-item-process) {
        .ant-steps-item-tail {
          &::after {
            background-color: $brand;
          }
        }
      }
    }
  }

  &.common-steps-horizontal {
    :global {
      .ant-steps-item {
        .ant-steps-item-tail {
          margin-left: 12px;
          padding: 3.5px 20px;
        }
        .ant-steps-item-icon {
          margin-left: 0;
        }

        .ant-steps-item-content {
          width: 100%;
          // margin-right: 24px;
          text-align: left;
        }
        &.ant-steps-item-process {
          .ant-steps-item-icon {
            .ant-steps-icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  &.common-steps-vertical {
    .common-steps-loading {
      width: 10px;
      height: 10px;
    }

    :global {
      .ant-steps-item {
        &:last-child {
          flex: none;
          .ant-steps-item-content {
            min-height: auto;
          }
        }
        &:not(:last-child) {
          .ant-steps-item-content {
            min-height: 52px;
          }
        }
        .ant-steps-item-tail {
          left: 10px;
        }
        .ant-steps-item-icon {
          width: 20px;
          height: 20px;
          margin-right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .ant-steps-icon {
            font-size: 10px;
          }
        }
      }
    }

    @include media-mobile {
      width: auto;
    }
  }
}
