@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/font.scss';

.my-application-list {
  .application-loader-message,
  .application-end-message {
    color: $secondary-text;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .application-card-container {
    padding: 16px;
    margin-bottom: 8px;
    background-color: $page-bg;

    .token-symbol {
      font-size: 16px;
      line-height: 24px;
      @extend .font-family-medium;

      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .row {
      margin-top: 12px;
    }
    .row-label {
      font-size: 14px;
      line-height: 22px;
      color: $secondary-text;
    }
    .status-box {
      justify-content: flex-end;
    }
  }
}
