.reCaptchaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  max-width: 1440px;
  position: relative;
  word-break: break-all;
}
