@import 'src/assets/theme/color.scss';

.token-box {
  min-width: 90px;
  white-space: nowrap;
}

.web-token-box {
  text-align: left;
}

.mobil-token-box {
  text-align: right;
}

.token-icon {
  display: inline-block;
  vertical-align: middle;
}

.word-symbol {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid $border;
  background: $hover-bg;
}

.token {
  vertical-align: middle;
  margin-left: 6px;
}
