@import 'src/assets/theme/font.scss';

.trigger-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
  @extend .font-family-medium;
  cursor: pointer;
}
