@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/constants.scss';
@import '/src/assets/theme/font.scss';

.token-card-for-mobile {
  padding: 16px;
  gap: 2px;
  border-bottom: 1px solid $dividers;
  background: $page-bg;
  cursor: pointer;

  .token-card-name {
    color: $primary-text;
    font-size: 14px;
    @extend .font-family-medium;
  }
  .token-card-symbol {
    color: $secondary-text;
    margin-left: 8px;
    line-height: 22px;
  }
}

.token-card-for-web {
  padding: 16px 12px;
  border-bottom: 1px solid $dividers;
  background: $page-bg;
  cursor: pointer;

  .token-card-name {
    color: $primary-text;
    font-size: 16px;
    @extend .font-family-medium;
  }
  .token-card-symbol {
    color: $secondary-text;
    line-height: 22px;
    margin-left: 8px;
    @include text-overflow;
    word-break: break-all;
  }
}

.token-card-icon {
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.token-card-defaultIcon {
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid $border;
  text-align: center;
}
.token-card-defaultIcon-none {
  display: none;
}
.token-card-icon-load {
  display: none;
}

.token-card-for-web-hover {
  &:hover {
    background: $hover-bg;
  }
}

.token-card-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
