@import '~antd/dist/antd.variable.min.css';
@import '/src/assets/theme/common-class.scss';
@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/constants.scss';
@import '/src/assets/theme/customize.scss';
@import '/src/assets/theme/font.scss';
@import '/src/assets/theme/theme.scss';
@import './components.scss';
@import './variable.scss';

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $page-bg;
  min-width: $page-min-width;
  font-size: 14px;
  @extend .font-family-regular;
}
body {
  margin: 0;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

// * {
//   transition: background 0.3s, fill 0.3s, stork 0.3s, color 0.3s, box-shadow 0.3s;
// }

// selected option
.ant-select-dropdown.drop-wrap {
  .ant-select-item-option-selected {
    color: $normal !important;
    background: none !important;
  }
}
