@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/font.scss';

.network-card-for-mobile {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  border-radius: 6px;
  border: 1px solid $dividers;
  background: $page-bg;
  cursor: pointer;

  .network-card-name {
    color: $primary-text;
    font-size: 14px;
    line-height: 22px;
    @extend .font-family-medium;
  }
  .network-card-arrival-time span,
  .network-card-confirm-time {
    color: $secondary-text;
    font-size: 12px;
    line-height: 16px;
  }
}

.network-card-for-web {
  display: flex;
  padding: 13px 24px;
  align-items: flex-start;
  border-bottom: 1px solid $dividers;
  background: $page-bg;
  cursor: pointer;

  &:nth-last-child(1) {
    border-bottom: none;
  }

  .network-card-row {
    width: 100%;
  }
  .network-card-network,
  .network-card-arrival-time {
    color: $primary-text;
    font-size: 16px;
    line-height: 24px;
    @extend .font-family-medium;
  }
  .network-card-name,
  .network-card-confirm-time {
    color: $secondary-text;
    font-size: 14px;
    line-height: 22px;
  }
}

.network-card-for-web-hover {
  &:hover {
    background: $hover-bg;
  }
}

.network-card-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
