@import '/src/assets/theme/color.scss';
@import 'src/assets/theme/font.scss';
@import 'src/styles/variable.scss';
@import 'src/assets/theme/breakpoint.scss';

.menu-container {
  position: fixed;
  width: $sider-width;
  height: calc(100% - 80px);
  padding-top: 40px;
  background-color: $page-bg;
  @include media-huge-screen {
    height: calc(100vh - 80px);
    position: relative;
    margin-left: calc((100vw - $max-width) / 2);
  }
}
.menu-items-wrapper {
  width: 100%;
}
.menu-item {
  height: 48px;
  padding: 12px 40px;
  border-radius: 0 6px 6px 0;
  color: $secondary-text;
  &:hover,
  &.menu-item-active {
    background-color: $normal-bg;
  }
  &.menu-item-active {
    color: $normal;
    .menu-item-icon path {
      fill: $normal;
    }
  }
}
.menu-item-icon {
  margin-right: 12px;
  path {
    fill: $secondary-text;
  }
}
.menu-item-label {
  font-size: 16px;
  line-height: 1.5;
  @extend .font-family-medium;
}

.supportEntry {
  margin-bottom: 64px; // 80-16
  margin-right: 62px;
}

.menu-item-red-dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $red-dot;
  position: relative;
  top: -7px;
  left: 2px;
}
