@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/variable.scss';

.header-wrapper {
  width: 100%;
  height: $mobile-header-height;
  @include media-mobile {
    padding: 8px 16px;
  }
  @include media-pad {
    padding: 16px 40px 8px;
  }
}

.header-text {
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  @extend .font-family-medium;
}
