.tokenBox {
  min-width: 100px;
  white-space: nowrap;
}

.web-tokenBox {
  text-align: left;
}

.mobil-tokenBox {
  text-align: right;
}

.token-icon {
  vertical-align: middle;
}

.token {
  vertical-align: middle;
  margin-left: 6px;
}
