@import 'src/assets/theme/color.scss';

.arrival-time-box {
  min-width: 90px;
  color: $primary-text;
}

.web-arrival-time-box {
  text-align: left;
}

.mobile-arrival-time-box {
  text-align: right;
}

.year-hour-wrapper {
  .year {
    display: inline-block;
    white-space: nowrap;
  }
  .hour {
    display: inline-block;
    white-space: nowrap;
  }
}
