@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';

.deposit-select-chain-wrapper {
  margin-bottom: 40px;
}

.content-wrapper {
  gap: 24px;
}

.qr-code-placeholder {
  width: 164px;
  height: 164px;
}

.deposit-address {
  padding: 16px 12px;
  border-radius: 6px;
  border: 1px solid $dividers;
}
