@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/variable.scss';

.deposit-select-chain-wrapper {
  margin-bottom: 40px;
}

.content-wrapper {
  gap: 24px;
}

.qr-code-placeholder {
  width: 164px;
  height: 164px;
}

.deposit-address {
  padding: 16px 12px;
  border-radius: 6px;
  border: 1px solid $dividers;
}

.main-section {
  @include media-mobile-and-pad {
    padding-top: 16px;
  }
}

.section {
  @include media-pad {
    width: $content-width;
    margin: auto;
  }
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid $dividers;
}

.faq {
  padding-bottom: 24px;
}
