@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/variable.scss';

.deposit-select-chain-wrapper {
  margin-bottom: 40px;
}

.content-wrapper {
  gap: 24px;
}

.qr-code-placeholder {
  width: 164px;
  height: 164px;
}

.deposit-address {
  padding: 16px 12px;
  border-radius: 6px;
  border: 1px solid $dividers;

  .check-txn-btn {
    margin-top: 16px;
  }
}

.main-section {
  @include media-mobile-and-pad {
    padding-top: 16px;
  }

  @include media-mobile {
    height: 100%;
  }
}

.section {
  @include media-pad {
    width: $content-width;
    margin: auto;
  }
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid $dividers;
}

.faq {
  padding-bottom: 56px;
}

.next-button-wrapper {
  min-width: $page-min-width;
  @include media-mobile {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 16px;
    background-color: $page-bg;
  }
}

.next-button-wrapper-safe-area {
  @include media-mobile {
    padding-top: 16px;
    padding-bottom: calc(16px + constant(safe-area-inset-bottom));
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
}

.next-button {
  width: 100%;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  @extend .font-family-medium;
}
