@import 'src/assets/theme/color.scss';

.deposit-tip {
  padding: 9px 12px;
  border-radius: 8px;
  border: 1px solid $disable;
  background-color: $brand-bg;

  font-size: 14px;
  line-height: 22px;
}

.text {
  margin-left: 8px;
}

.token {
  font-weight: 700;
}
