$breakpoint-md: 640px;
$breakpoint-xl: 1024px;

@mixin media-mobile {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-pad {
  @media screen and (max-width: $breakpoint-xl) and (min-width: #{$breakpoint-md + 1px}) {
    @content;
  }
}

@mixin media-mobile-and-pad {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin media-web {
  @media screen and (min-width: #{$breakpoint-xl + 1}) {
    @content;
  }
}
