$brand: #285eff;
$hover: #3b6cff;
$normal: #285eff;
$click: #1e52f0;
$disable: #a9bfff;

$link: #127fff;
$blue-bg: #e2f0ff;
$success: #00b73e;
$success-bg: #e0f6e8;
$warning: #ff9900;
$warning-bg: #fff3e0;
$error: #f53f3f;
$error-bg: #fee8e8;

$error-normal: #f53f3f;
$error-hover: #fc7373;
$error-click: #cf3737;
$error-disable: #ffbfbf;

$primary-text: #1a1a1a;
$secondary-text: #808080;
$disable-text: #d6d6d6;
$white-text: #ffffff;
$border: #e0e0e0;
$dash: #c4c4c4;
$dividers: #f0f0f0;
$normal-bg: #f5f5f5;
$hover-bg: #f8f8f8;
$click-bg: #eaeaea;
$page-bg: #ffffff;
