@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/font.scss';

.header-icon-wrapper {
  width: 32px;
  height: 32px;
}

.header-icon {
  font-size: 20px;
}

.menu-drawer {
  z-index: 1001 !important;
}

.menu-drawer.menu-drawer-weight {
  :global {
    .ant-drawer-content {
      border-radius: 0;
    }
    .ant-drawer-body {
      padding: 0 0 16px 0;
    }
  }
}

.menu-drawer-body {
  height: 100%;
}

.menu-item {
  gap: 12px;
  height: 56px;
  padding: 16px 12px;
  border-bottom: 1px solid $dividers;
  color: $secondary-text;

  &.menu-item-active {
    color: $normal;
    background-color: $hover-bg;
    .menu-item-icon path {
      fill: $normal;
    }
  }
  .menu-item-icon path {
    fill: $secondary-text;
  }
}

.menu-item-label {
  font-size: 16px;
  line-height: 1.5;
  @extend .font-family-medium;
}

.supportEntry {
  margin-bottom: 69px; // 85-16
}
