@import 'src/assets/theme/color.scss';

.common-tooltip-switch-modal {
  :global {
    .ant-modal-body {
      color: $primary-text;
      padding: 0 16px 16px;
    }
    .ant-modal-content {
      .ant-modal-close {
        .ant-modal-close-x {
          width: 48px;
          height: 64px;
          svg path {
            fill: $primary-text;
          }
        }
      }

      .ant-modal-header {
        height: 68px;
        padding: 20px 16px 24px;
        .ant-modal-title {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .common-tooltip-switch-modal-footer {
    margin-top: 24px;

    button {
      height: 40px;
      span {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
