@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';

.loading-modal {
  :global {
    .ant-modal-content {
      border-radius: 6px;
    }
    .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px;
    }
  }
}

.loading-modal-text {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  color: $primary-text;
}
