@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';

.history-detail-body {
  @include media-pad {
    padding: 16px 24px 24px;
  }
  @include media-mobile{
    padding-top: 16px;
  } 
}

.detail-divider {
  width: 100%;
  height: 1px;
  background-color: $dividers;
  margin: 24px 0;

  @include media-mobile-and-pad {
    margin: 8px 0 24px;
  }
}
