.aelf-chain-container {
  gap: 12px;
}

.aelf-chain-tooltip {
  :global {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        padding: 6px 8px !important;
        border-radius: 6px !important;
      }
    }
  }
}
