@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';

.web-fee-info-wrapper {
  min-width: 140px;
  text-align: left;
}

.mobile-fee-info-wrapper {
  text-align: right;
}

.fee-info-item-wrapper {
  display: inline-block;
  color: $primary-text;
  white-space: nowrap;
}

.fee-info-item-add {
  margin: 4px 0 0 2px;
}
