@import '/src/assets/theme/breakpoint.scss';
@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/font.scss';

.my-applications-page-container-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $hover-bg;

  @include media-web {
    padding: 40px 0;
  }

  @include media-pad {
    padding: 24px;
  }
  @include media-mobile {
    padding: 0px;
  }
}

.my-applications-page-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;

  @include media-web {
    width: 720px;
  }
  @include media-mobile-and-pad {
    width: 100%;
  }

  .my-applications-page-back-text {
    font-size: 14px;
    color: $primary-text;
    @extend .font-family-medium;
  }
}

.my-applications-page-body {
  height: 100%;

  @include media-web {
    width: 720px;
    padding: 24px;
    background-color: $page-bg;
    border-radius: 8px;
    border: 1px solid $dividers;
  }
  @include media-pad {
    width: 100%;
    padding: 24px;
    background-color: $page-bg;
    border-radius: 8px;
    border: 1px solid $dividers;
  }
  @include media-mobile {
    width: 100%;
  }
}

.my-applications-page-body-white {
  @include media-mobile {
    background-color: $page-bg;
  }
}

.my-applications-page-title {
  font-size: 24px;
  @extend .font-family-medium;
  text-align: left;
  margin-bottom: 16px;
}
