@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';

.transaction-charts-container {
  border-radius: 8px;
  border: 1px solid $dividers;
  padding: 24px;

  @include media-mobile-and-pad {
    padding: 16px;
  }
}

.transaction-charts {
  width: 100%;
  height: 376px;
}
