@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/breakpoint.scss';
@import '/src/assets/theme/font.scss';

.footer {
  font-size: 14px;
  background-color: $hover-bg;
  color: $secondary-text;
  padding: 60px 40px 40px;

  flex-direction: row;
  justify-content: space-between;

  @include media-mobile-and-pad {
    padding: 60px 24px 40px;

    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
  }
}
.left {
  min-width: 400px;
  margin-right: 16px;
  flex: 7;
}

.left-logo {
  margin-bottom: 16px;
}

.left-describe {
  line-height: 22px;
}

.left-community-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 16px;
}

.left-community-menu-item {
  cursor: pointer;
}

.right {
  flex: 10;
  gap: 16px;
}

.right-menu {
  min-width: 120px;
  flex: 1;
}

.right-menu-group {
  color: $primary-text;
  line-height: 22px;
  margin-bottom: 12px;
  @extend .font-family-medium;
}

.right-menu-secondMenu {
  gap: 8px;
}

.right-menu-secondMenu-item {
  cursor: pointer;
  color: $secondary-text;
  line-height: 22px;

  &:hover {
    color: $primary-text;
    svg path {
      fill: $primary-text;
    }
  }
}

.secondMenu-item-icon {
  margin-right: 8px;
}
