@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/assets/theme/font.scss';

.networks-container {
  .networks-3 {
    gap: 12px;
  }

  .network-more-wrapper {
    gap: 12px;
  }

  .network-more-number {
    border-radius: 50%;
    background-color: $dividers;

    @include media-web {
      cursor: pointer;
    }

    font-size: 12px;
    font-weight: 500;
    @extend .font-family-medium;
  }

  .network-more-number-small {
    font-size: 8px;
    line-height: 16px;
  }

  .logo-container {
    width: 24px;
    height: 24px;
    @include media-mobile {
      width: 16px;
      height: 16px;
    }

    @include media-web {
      cursor: pointer;
    }
  }
}

.networks-more-tooltip {
  :global {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        padding: 6px 8px !important;
        border-radius: 6px !important;
        width: fit-content;
      }
    }
  }
}
