@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';

.info-line:not(:last-child) {
  margin-bottom: 12px;
}

.info-title,
.info-value,
.info-exhibit {
  font-size: 12px;
  line-height: 16px;
}

.info-title {
  width: 120px;
  margin-right: 16px;
  color: $secondary-text;
}

.info-value {
  word-break: break-all;
  color: $primary-text;
}

.info-exhibit {
  color: $secondary-text;
  line-height: 16px;
}

.addressEllipsis {
  gap: 4px;
  cursor: pointer;
}

.question-mark-icon {
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
}
