@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';

.select-chain-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  @include media-mobile-and-pad {
    justify-content: center;
  }
  @include media-web {
    min-width: 440px;
  }
  @include media-web-2xl {
    max-width: 614px;
    min-width: 440px;
    width: 100%;
  }
}

.select-chain-label {
  @include media-mobile-and-pad {
    margin-right: 8px;
    font-size: 14px;
    line-height: 22px;
    color: $secondary-text;
  }
  @include media-web {
    margin-right: 16px;
    font-size: 24px;
    line-height: 32px;
    @include font-family-medium-mixin;
  }
}
