@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/common.scss';

.container {
  gap: 24px;
  @include media-mobile-and-pad {
    padding-top: 24px;
  }
}

.title-wrapper {
  gap: 16px;
}

.title-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: $error-bg;
}

.title {
  @extend .font-family-medium;
  font-size: 20px;
  line-height: 28px;
  color: $primary-text;
}

.fail-reason {
  @extend .font-family-regular;
  font-size: 14px;
  line-height: 22px;
  color: $secondary-text;
  text-align: center;
}

