.drawer-wrapper {
  :global {
    .ant-drawer-footer {
      text-align: center;
      padding: 20px 16px;
      border: none;
    }
  }
  
  .drawer-button-wrapper {
    display: flex;
    align-items: center;
    .cancel-button {
      flex: 4;
    }
    .ok-button {
      flex: 6;
    }
  }

}
