@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/constants.scss';
@import 'src/assets/theme/breakpoint.scss';
@import 'src/styles/variable.scss';

.main-wrapper {
  flex: 2;
}

.main-content {
  padding: 0 11.12%;
}

.section {
  @include media-pad {
    width: $content-width;
    margin: auto;
  }
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid $dividers;
}

.faq-wrapper {
  flex: 1;
}

.faq-left {
  flex: 1;
}

.faq {
  padding-left: 8%;
  padding-bottom: 24px;
  @include media-pad {
    padding-left: 0;
  }
  @include media-huge-screen {
    padding-right: 40px;
  }
}

.form-container {
  @include media-web {
    min-width: 440px;
  }
}

.form-wrapper {
  :global {
    .ant-form-item-label {
      padding-bottom: 4px;
      label {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        color: $secondary-text;
      }
    }
    .ant-form-item-explain-error,
    .ant-form-item-explain-warning {
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;
    }
    .ant-form-item-explain-error {
      color: $error;
    }
    .ant-form-item-explain-warning {
      color: $warning;
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-item-wrapper {
  margin-bottom: 24px;
}

.amount-form-item-wrapper {
  margin-bottom: 12px;
}

.form-item {
  margin-bottom: 0;
}

.balance-info-wrapper {
  margin-top: 12px;
  @include media-mobile-and-pad {
    .info-label,
    .info-value {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.form-label-wrapper {
  width: 100%;
  align-items: end;
}

.form-label {
  font-size: 14px;
  line-height: 22px;
  color: $secondary-text;
}

.remaining-limit-wrapper {
  gap: 8px;
  .remaining-limit-value,
  .remaining-limit-label {
    display: flex;
    font-size: 12px;
    line-height: 16px;
  }
  .remaining-limit-value {
    color: $primary-text;
    white-space: nowrap;
  }
  .remaining-limit-value-limit-currency {
    margin-left: 2px;
    max-width: 57px;
    display: inline-block;
    @extend .ellipsis;
  }
  .remaining-limit-label {
    color: $secondary-text;
  }
  @include media-pad {
    &::before {
      width: $content-width;
    }
  }
  @include media-mobile-and-pad {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    margin-top: 48px;
    .remaining-limit-value {
      color: $secondary-text;
    }
    &::before {
      content: '';
      position: absolute;
      top: -24px;
      height: 1px;
      background-color: $dividers;
    }
  }
  @include media-web {
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0;
    .remaining-limit-label {
      margin-left: 8px;
    }
  }
  @include media-mobile {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    &::before {
      left: -16px;
      width: 100vw;
    }
    .remaining-limit-value {
      margin-left: 7px;
    }
  }
}

.remaining-limit-error {
  .remaining-limit-label,
  .remaining-limit-value {
    color: $error;
  }
}

.info-wrapper {
  gap: 8px;
}

.info-label,
.info-value {
  font-size: 14px;
  line-height: 22px;
}

.info-unit {
  max-width: 70px;
  @include text-overflow;
  @include media-web {
    max-width: 106px;
  }
}

.info-label {
  color: $secondary-text;
}

.info-value {
  color: $primary-text;
  @extend .font-family-medium;
}

.info-value-big-font {
  font-size: 24px;
  line-height: 32px;
}

.form-footer {
  min-width: $page-min-width;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  @include media-mobile {
    position: fixed;
    bottom: 0;
    border-top: 1px solid $dividers;
    background-color: $page-bg;
    width: 100vw;
    margin-left: -16px;
    padding: 20px 16px;
    align-items: end;
  }
  @include media-pad {
    width: 100%;
    margin-top: 64px;
    align-items: end;
  }
  @include media-web {
    width: 100%;
    margin-top: 64px;
  }
}

// A separate class name is used here to avoid invalidation of the padding style by incorporating the padding property in the production css.
.form-footer-safe-area {
  @include media-mobile {
    padding-bottom: calc(10px + constant(safe-area-inset-bottom));
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
  }
}
.footer-info-wrapper {
  min-width: 0;
  .info-label {
    flex: none;
    margin-right: 8px;
  }
  .receive-amount-wrapper {
    .info-value {
      gap: 8px;
    }
  }
  @include media-mobile-and-pad {
    gap: 2px;
    .info-label,
    .info-value {
      font-size: 12px;
      line-height: 16px;
    }
    .info-value-big-font {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  @include media-web {
    gap: 24px;
  }
}

.form-submit-button-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
}

.form-submit-button {
  @include media-mobile {
    width: 108px;
    padding: 0;
  }
  @include media-pad {
    width: 120px;
  }
  @include media-web {
    width: 160px;
  }
}

.question-mark {
  position: relative;
  top: 2px;
  margin-left: 4px;
  cursor: pointer;
}

.question-label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.link-wrap {
  margin-top: 16px;
}

.link-word {
  vertical-align: middle;
  margin-right: 8px;
  color: $normal;
  font-size: 14px;
  font-weight: $font-family-medium-weight;
}

.link-explore-icon {
  position: relative;
  top: 5px;
}

.linkToExplore {
  margin-top: 16px;
  text-align: center;
}
