@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/font.scss';

.wallet-container {
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 1px solid $border;
  border-radius: 6px;
  cursor: pointer;
}

.wallet-drawer.wallet-drawer-weight {
  :global {
    .ant-drawer-content {
      border-radius: 0;
    }
    .ant-drawer-body {
      padding: 0;
    }
  }
}

.drawer-title-wrapper {
  gap: 8px;
  text-align: left;
  border-bottom: 1px solid $border;
}

.drawer-my-wrapper {
  text-align: left;
}

.drawer-title-my {
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  font-weight: $font-family-medium-weight;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 56px);
}

.top-wrapper {
  width: 100%;
}

.assets-wrapper,
.address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid $dividers;
}

.assets-wrapper {
  border-top: 1px solid $dividers;
}

.assets,
.address {
  font-size: 16px;
  font-weight: $font-family-medium-weight;
  height: 24px;
  line-height: 24px;
}

.button-wrapper {
  width: 100%;
  padding: 16px;
}

.address-showAddress {
  border-bottom: none;
}

.address-content {
  padding-left: 40px;
}
.address-content-border {
  border-bottom: 1px solid $dividers;
}

.wallet-mobile {
  border: none;
}
