@import 'src/assets/theme/color.scss';
@import 'src/assets/theme/font.scss';

.common-modal {
  :global {
    .ant-modal-content {
      border-radius: 8px;
    }
    .ant-modal-close-x {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(20px + (16px * 2));

      svg path {
        fill: $primary-text;
      }
    }
    .ant-modal-header {
      height: 54px;
      border-radius: 8px 8px 0 0;
      border: none;
      text-align: center;
      .ant-modal-title {
        color: $primary-text;
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-family-medium-weight;
        font-family: $font-family-medium-family;
      }
    }
    .ant-modal-body {
      padding: 0 24px 24px;
    }
  }
}

.footer {
  gap: 12px;
  width: 100%;
  margin-top: 32px;
}
