@import 'src/assets/theme/breakpoint.scss';

.transaction-fee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.transaction-fee-unit {
  max-width: 57px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include media-web {
    max-width: 60px;
  }
}
